.conteudo{
	height: 530px;
}

.active{
	border-bottom: 2px solid #000;
}

.footer{
	background-color:#F8F8F8;
	height: 65px; 
}

.text-muted{
	padding-top: 20px;
}

form{
	padding-top: 60px;
}

.center-h4{
	text-align: center;
}

.close-modal{
	color: #000;
}

.atention-header{
	color:#fff;
	text-align: center;
}

.leve{
	background-color:#337AB7;
}

.normal{
	background-color:#5CB85C;
}

.perigo{
	background-color:#F0AD4E;
}

.risco{
	background-color:#D9534F;
}


.label-radio{
	display: inline-block;
	padding: 20px 11px;

}